* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mensagem {
    display: none;

}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #b700ffc9;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    box-shadow: 0 2px 40px -12px black;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

.mensagem-valida {
    background-color: #27ae60;
    padding: 16px;
    color: #fff;
    display: none;
    width: 20%;
    text-align: center;
    justify-content: center;
    margin-left: 40%;
}

.mensagem-invalida {
    background-color: red;
    padding: 16px;
    color: #fff;
    display: none;
    width: 20%;
    text-align: center;
    justify-content: center;
    margin-left: 40%;
}